.welcome {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__content {
    z-index: 5;
    position: absolute;
    opacity: 1;
    top: 150px;
    left: 0;

    @media only screen and (max-width: $bp-large) {
      top: 52px;
      left: 20px;
    }

    @media only screen and (max-width: $bp-medium) {
      position: static;
    }

    @media only screen and (max-width: $bp-small) {
      margin-top: 7px;
    }
  }

  &__title {
    margin-bottom: 25px;

    @media only screen and (max-width: $bp-medium) {
      text-align: center;
    }
  }
  &__paragraph {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    margin-bottom: 75px;

    @media only screen and (max-width: $bp-large) {
      margin-bottom: 50px;
      font-size: 24px;
      line-height: 28px;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 20px;
      line-height: 23px;
    }
    @media only screen and (max-width: $bp-small) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__button {
    display: inline-block;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    background: var(--color-red);
    border-radius: 10px;
    padding: 24px 69px;
    border: none;
    text-decoration: none;

    @media only screen and (max-width: $bp-large) {
      font-size: 20px;
      line-height: 23px;
      padding: 20px 45px;
    }
    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }
  &__button:hover {
    background: #9d8665;
  }
}
